---
{
  "title": "Current Opportunities"
}
---
<p>For a prospective hire, a company’s culture, reputation, profitability, product innovation, and benefits are among the many factors to consider when it comes to choosing the right company to work for. And, if selling life insurance is a passion, then there’s no better place to work than New York Life's {{ if .site.dba }}{{ .site.dba }}{{ else }}<span style="color: red">[[GENERAL OFFICE]]</span>{{ end }}. When an agent becomes one of our Financial Professionals, they're part of an extensive career agency system. That means we provide agents with all the guidance, support, and resources they'll need to do what they do best: serving their clients’ needs. From our outstanding training program to our robust compensation package, there are so many reasons to join New York Life’s team of Financial Professionals at the {{ if .site.dba }}{{ .site.dba }}{{ else }}<span style="color: red">[[GENERAL OFFICE]]</span>{{ end }}.</p>


    <p>Listed below are career opportunities available at our office.</p>

    <div class="pam-section">
            <h2>College Agent Internship</h2>
            <p>We are seeking individuals who are:</p>
            <ul>
              <li>Juniors, Seniors and Graduate Students </li>
              <li>GPA of 2.0 of higher</li>
              <li>Interested in being an entrepreneur</li>
              <li>Involved on campus in student organizations, athletics or involved in their communities </li>
            </ul>
            <p>Here's what we ask of you: </p>
            <ul>
              <li>Time: 10 to 20 hours per week, schedule permitting</li>
              <li>Positive Attitude: A willingness to learn and a desire to excel</li>
              <li>Integrity: Respect a tradition that has existed since 1845</li>
              <li>Reliability: Attend all scheduled meeting and training sessions </li>
            </ul>
            <p>The rewards are more fulfilling than you could imagine – it's more than an experience and a paycheck.</p>
            <p>As a licensed College Agent, you will have the ability to <strong>make a lasting impact</strong> on your client's lives by helping them set and reach their important financial goals.</p>
            <p>You may help:</p>
            <ul>
              <li>Young parents provide financial security for their children should something happen to them unexpectedly.</li>
              <li>Business owners save for retirement and protect the business they have spent a lifetime building.</li>
              <li>People like your parents plan for the likelihood of extended care for an illness, while protecting the assets they have worked so hard to accumulate. </li>
            </ul>
            <p>You will make this impact by: </p>
            <ul>
              <li>Scheduling appointments and meeting with potential clients</li>
              <li>Analyzing the information you gather</li>
              <li>Making product recommendations/sales to help them meet their insurance and financial goals</li>
            </ul>
            <p>Most important, you will provide ongoing service and support to these policyholders. As your client's needs and goals change, you'll help them adjust their financial goals to meet these changing needs. </p>
            <p><a href=".11.htm" class="pam-button">Apply for an Interview</a></p>
          </div>
    <div class="pam-section">
       <h2>Agent</h2>
         <p><strong>The Opportunity:</strong> We will assist agents in building their own Insurance and Financial Services practice with our help. We provide tremendous training resources and financial support to help them build their business.</p>

         <p><strong>Description of Activities and Responsibilities:</strong> Licensed agents will be responsible for scheduling appointments, meeting with clients, analyzing clients’ information, making product recommendations and providing ongoing service. Agents work in the personal and business markets. They can help clients meet their insurance, estate, retirement and benefit needs through the insurance and financial products they offer.</p>

         <p><strong>Requirements:</strong> We require highly motivated individuals who are willing to invest their time and energy into creating profitable and rewarding careers. We have a preference for individuals who are bi- or tri-lingual, as well as those with a 4-year college degree (not necessarily in business, marketing or insurance). Some of the qualities of an agent that we look for include:</p>
         <ul>
           <li><strong>Independent:</strong> A successful New York Life Agent thrives in an environment of independence, structured largely by his or her own initiative, ambition and resourcefulness.  A New York Life Agent enjoys being an entrepreneur within a solid enterprise.</li>
           <li><strong>Ambitious:</strong> A successful New York Life Agent is never satisfied with the status quo.  A New York Life Agent is always reaching for new growth and success.  The need to constantly improve is essential to a New York Life Agent.</li>
           <li><strong>Responsible:</strong> A successful New York Life Agent recognizes the serious responsibility that is assumed when he or she helps people to provide for their insurance protection and financial security.</li>
           <li><strong>Progressive:</strong> A successful New York Life Agent welcomes new challenges in a constantly changing environment and develops new concepts to help people to address changing insurance and financial needs.</li>
           <li><strong>Caring:</strong> Very simply, a successful New York Life Agent likes people and enjoys being around them.  People play a major role in the life of a New York Life Agent, and New York Life Agents are trusted confidants.</li>
         </ul>

         <p><strong>Training:</strong> At New York Life, we take training seriously. We offer state of the art marketing support and extensive ongoing training through NYLIC University. Not only will agents be trained through our NYLIC University program, but also through local Managers and full-time Trainers who are extremely proficient in teaching the knowledge and skills needed to get off to a fast start.</p>
         <p><a href=".11.htm" class="pam-button">Apply for an Interview</a></p>
       </div>

       <div class="pam-section">
         <h2>Management</h2>
           <p><strong>The Opportunity:</strong> Being considered for a direct path to Partner is only available to those individuals with peer companies in the financial services industry. We are looking for someone who is currently serving in a role where their primary function is attract, select, develop and retain quality agents in their life insurance/financial services firm. The true opportunity here is to begin a leadership career where the requirements for each promotion opportunity are documented and objective. While staying located here in Silicon Valley, there is a clear path to being promoted to Senior Partner and Executive Partner.</p>

           <p><strong>Description of Activities and Responsibilities:</strong> As a Partner, we build on existing industry experience with robust training. Partners attract, select, develop and retain 8-12 new advisors a year. They must build systems to generate strong candidate pipelines to support agency growth. Partners must have expertise in conducting joint sales appointments with their advisors, as well as coaching skills to help their advisors grow in their careers.</p>

           <p><strong>Requirements:</strong> Partner candidates must have a successful track record of recruiting, developing and retaining advisors. We look for candidates that have shown the capacity to build an agency and drive premium growth through recruiting and retention. We look for professionals with a track record of modeling our corporate values of Integrity, Financial Strength and Humanity.</p>

           <p><strong>Training:</strong> At New York Life, we take training seriously. We offer state of the art marketing support and extensive ongoing training through NYLIC University. Not only will management be trained through our NYLIC University program, but also through local Managers and full-time Trainers who are extremely proficient in teaching the knowledge and skills needed to get off to a fast start. In addition to Agent training, our Partners participate in comprehensive Management and Leadership Development programs which are career-long. We also encourage Partners to obtain their professional designations through our partnership with the American College.</p>
           <p><a href=".11.htm" class="pam-button">Apply for an Interview</a></p>
         </div>
<p class="pam-footnote">New York Life is an equal opportunity employer M/F/Veteran/Disability/SexualOrientation/Gender Identity</p>
