---
{
  "title": "Cultural Markets"
}
---

<div class="pam-container pam-show-for-medium-up">
  <p>New York Life and the {{ if .site.dba }}{{ .site.dba }}{{ else }}<span style="color: red">[[GENERAL OFFICE]]</span>{{ end }} have always been committed to serving our richly diverse community. We are proud that our office is comprised of so many diverse nationalities and it is this heritage that makes us who we are. Click on any link below to learn more.</p>
  <div class="pam-flex cultural-buttons-wrapper">
    <div class="pam-medium-4 pam-columns">
      <a class="cultural hispanic toggler" href="#hispanic"><img src="{{ file "latino-market.png" }}" class="hoveron" alt="Lation Market" /><img src="{{ file "latino-hover.png" }}" class="hoveroff" alt="latino Market" /></a>
    </div>
    <div class="pam-medium-4 pam-columns">
      <a class=" cultural african-american toggler" href="#african-american"><img src="{{ file "african-american-market.png" }}" alt="african-american-market" /></a>
    </div>
    <div class="pam-medium-4 pam-columns">
      <a class=" cultural chinese toggler" href="#chinese"><img src="{{ file "chinese-market.png" }}" class="hoveron" alt="Chinese Market" /><img src="{{ file "chinese-hover.png" }}" class="hoveroff" alt="Chinese Market" /></a>
    </div>
    <div class="pam-medium-4 pam-columns">
      <a class=" cultural asian-indian toggler" href="#asian-indian"><img src="{{ file "asian-indian-market.png" }}" class="hoveron" alt="Asian-indian market" /><img src="{{ file "asian-indian-hover.png" }}" class="hoveroff" alt="Asian-indian market" /></a>
    </div>
    <div class="pam-medium-4 pam-columns">
      <a class="cultural korean toggler" href="#korean"><img src="{{ file "korean-market.png" }}" class="hoveron" alt="Korean Market" /><img src="{{ file "korean-hover.png" }}" class="hoveroff" alt="Korean Market" /></a>
    </div>
    <div class="pam-medium-4 pam-columns">
      <a class="cultural vietnamese toggler" href="#vietnamese"><img src="{{ file "vietnamese-market.png" }}" class="hoveron" alt="vietnamese market" /><img src="{{ file "vietnamese-hover.png" }}" class="hoveroff" alt="vietnamese Market" /></a>
    </div>
    <div class="pam-medium-4 pam-columns">
      <a class="cultural womens toggler" href="#womens"><img src="{{ file "women-market.png" }}" alt="women market" /></a>
    </div>
    <div class="pam-medium-4 pam-columns">
        <a class="cultural lgbt toggler" href="#lgbt"><img src="{{ file "lgbt-market.png" }}" alt="LGBT market" /></a>
    </div>
  </div>
</div>
<div id="anchorPoint"></div>

<!-- Add GO name. 4 Total -->

  <div class="pam-container cultural-section element" id="hispanic">
    <h2>Latino Market</h2>
    <p>The Hispanic population in the U.S. exceeds 50 million and is projected to reach over 100 million by 2030 and become a third of the U.S. population by 2050, according to the 2010 U.S. Census. At {{ if .site.dba }}{{ .site.dba }}{{ else }}<span style="color: red">[[GENERAL OFFICE]]</span>{{ end }}, we know that you work hard to achieve your goals, take care of your family, and ensure that everything good is still present in their lives and those of future generations. We are committed to you and your welfare, and we have a long history of helping families, businessmen, professionals, and anyone interested in protecting their economic future to create simple strategies to meet their commitments and fulfill their dreams.</p>
  </div>
  <div class="pam-container cultural-section element" id="chinese">
    <h2>Chinese Market</h2>
    <p>The Chinese community is one of the largest and longest established segments of the Asian presence in the United States, accounting for approximately 23% of Asian Americans in the United States, according to the 2010 U.S. Census Data. At {{ if .site.dba }}{{ .site.dba }}{{ else }}<span style="color: red">[[GENERAL OFFICE]]</span>{{ end }}, we know that you work hard to achieve your goals, take care of your family, and ensure that everything good is still present in their lives and those of future generations. We are committed to you and your welfare, and we have a long history of helping families, businessmen, professionals, and anyone interested in protecting their economic future to create simple strategies to meet their commitments and fulfill their dreams.</p>
  </div>
  <div class="pam-container cultural-section element" id="korean">
    <h2>Korean Market</h2>
    <p>According to the 2010 Census, more than 1.7 million people identify themselves as Korean, ranking Korean Americans the fifth-largest group among Asian Americans. At {{ if .site.dba }}{{ .site.dba }}{{ else }}<span style="color: red">[[GENERAL OFFICE]]</span>{{ end }}, we know that you work hard to achieve your goals, take care of your family, and ensure that everything good is still present in their lives and those of future generations. We are committed to you and your welfare, and we have a long history of helping families, businessmen, professionals, and anyone interested in protecting their economic future to create strategies to meet their commitments and fulfill their dreams.</p>
  </div>
  <div class="pam-container cultural-section element" id="vietnamese">
    <h2>Vietnamese Market</h2>
    <p>In the past 10 years, the Vietnamese population has grown significantly. It is the fastest growing cultural group within the East and South East Asian Markets. At {{ if .site.dba }}{{ .site.dba }}{{ else }}<span style="color: red">[[GENERAL OFFICE]]</span>{{ end }}, we know that you work hard to achieve your goals, take care of your family, and ensure that everything good is still present in their lives and those of future generations. We are committed to you and your welfare, and we have a long history of helping families, businessmen, professionals, and anyone interested in protecting their economic future to create simple strategies to meet their commitments and fulfill their dreams.</p>
  </div>
<!-- End -->

  <div class="pam-container cultural-section element" id="african-american">
    <h2>African American Market</h2>
    <p>Today, as more and more African Americans are building wealth—creating assets to benefit their families, religious and social communities, businesses, educational institutions, and future generations—they are seeking knowledgeable professionals who can help them make sound financial decisions. New York Life agents in your community know how to provide personal solutions that benefit current and future generations—helping you to build, protect, and preserve your assets.</p>
  </div>
  <div class="pam-container cultural-section element"  id="asian-indian">
    <h2>Asian-Indian Market</h2>
    <p>The South Asian community in the United States, comprised of people from India, Pakistan, Bangladesh, Sri Lanka, Nepal and Afghanistan, continues to grow and prosper. Even in the midst of uncertain economic times, your commitment to protecting family, building businesses, educating children, and caring for elder family members are enduring values. Through our agents, products, and services, we are equally committed to helping you protect what matters most through life insurance, as well as to helping you develop a solid retirement strategy.</p>
  </div>
  <div class="pam-container cultural-section element" id="lgbt">
    <h2>LGBT Market</h2>
    <p>Getting married, sending a child off to college, achieving financial independence, becoming an entrepreneur, helping a community thrive, leaving a legacy for future generations—these are only a few of the many dreams people aspire to. Whether dreams are simple or ambitious, at New York Life we understand that everyone has them. New York Life is a proud supporter of the LGBT community and we extend our continued support to educate, empower, and protect all communities.</p></div>
  <div class="pam-container cultural-section element" id="womens">
    <h2>Womens Market</h2>
    <p>Mother, partner, wife, career woman, business owner, caregiver, coach, breadwinner, chief financial officer for your family...and we’re just scratching the surface. The number and variety of roles women play today is astounding. So is the speed at which women have to switch from one role to another and back again, without breaking a sweat, missing a deadline, or being late for a soccer game. No matter the role, agents can help women prepare for a better tomorrow.</p>
  </div>
